body {
  margin: 0;
  font-family: sans-serif;
  background: #ffffff;
}

.content {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path-0 {
  animation: pathAnim-0 4s linear infinite;
}
.path-1 {
  animation: pathAnim-1 4s linear infinite;
}
.path-2 {
  animation: pathAnim-2 4s linear infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 L 0,112 C 89.29,107.03 178.59,102.07 236,92 C 293.40,81.92 318.91,66.73 381,76 C 443.08,85.26 541.74,118.99 611,133 C 680.25,147.00 720.10,141.30 786,144 C 851.89,146.69 943.81,157.80 1019,151 C 1094.18,144.19 1152.62,119.48 1220,110 C 1287.37,100.51 1363.68,106.25 1440,112 L 1440,600 L 0,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 L 0,112 C 89.29,123.62 178.59,135.24 241,133 C 303.40,130.75 338.92,114.64 401,118 C 463.07,121.35 551.70,144.17 626,145 C 700.29,145.82 760.23,124.65 824,125 C 887.76,125.34 955.34,147.19 1025,149 C 1094.65,150.80 1166.36,132.56 1235,123 C 1303.63,113.43 1369.81,112.66 1440,112 L 1440,600 L 0,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 L 0,112 C 89.29,107.03 178.59,102.07 236,92 C 293.40,81.92 318.91,66.73 381,76 C 443.08,85.26 541.74,118.99 611,133 C 680.25,147.00 720.10,141.30 786,144 C 851.89,146.69 943.81,157.80 1019,151 C 1094.18,144.19 1152.62,119.48 1220,110 C 1287.37,100.51 1363.68,106.25 1440,112 L 1440,600 L 0,600 Z"
    );
  }
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,600 L 0,262 C 53.42,252.01 106.84,242.02 168,242 C 229.15,241.97 298.04,251.89 383,244 C 467.95,236.10 568.95,210.37 645,222 C 721.04,233.62 772.11,282.60 824,299 C 875.88,315.39 928.58,299.22 1004,289 C 1079.41,278.77 1177.54,274.50 1254,271 C 1330.45,267.49 1385.22,264.74 1440,262 L 1440,600 L 0,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 L 0,262 C 71.68,264.89 143.37,267.79 208,268 C 272.62,268.20 330.17,265.71 397,262 C 463.82,258.28 539.91,253.34 613,259 C 686.08,264.65 756.15,280.89 823,284 C 889.84,287.10 953.47,277.06 1026,271 C 1098.52,264.93 1179.94,262.85 1251,262 C 1322.05,261.14 1381.73,261.51 1440,262 L 1440,600 L 0,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 L 0,262 C 53.42,252.01 106.84,242.02 168,242 C 229.15,241.97 298.04,251.89 383,244 C 467.95,236.10 568.95,210.37 645,222 C 721.04,233.62 772.11,282.60 824,299 C 875.88,315.39 928.58,299.22 1004,289 C 1079.41,278.77 1177.54,274.50 1254,271 C 1330.45,267.49 1385.22,264.74 1440,262 L 1440,600 L 0,600 Z"
    );
  }
}

@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,600 L 0,412 C 51.45,431.49 102.90,450.99 181,439 C 259.09,427.00 363.84,383.51 443,391 C 522.15,398.48 575.72,456.95 632,466 C 688.27,475.04 747.24,434.64 819,423 C 890.75,411.35 975.27,428.44 1037,419 C 1098.72,409.55 1137.63,373.58 1201,368 C 1264.36,362.41 1352.18,387.20 1440,412 L 1440,600 L 0,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 L 0,412 C 65.92,406.44 131.85,400.87 206,398 C 280.14,395.12 362.51,394.93 438,402 C 513.48,409.06 582.09,423.38 649,432 C 715.90,440.61 781.11,443.52 850,438 C 918.88,432.47 991.44,418.52 1061,408 C 1130.55,397.47 1197.09,390.37 1263,394 C 1328.90,397.62 1394.45,411.81 1440,412 L 1440,600 L 0,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 L 0,412 C 51.45,431.49 102.90,450.99 181,439 C 259.09,427.00 363.84,383.51 443,391 C 522.15,398.48 575.72,456.95 632,466 C 688.27,475.04 747.24,434.64 819,423 C 890.75,411.35 975.27,428.44 1037,419 C 1098.72,409.55 1137.63,373.58 1201,368 C 1264.36,362.41 1352.18,387.20 1440,412 L 1440,600 L 0,600 Z"
    );
  }
}

.tieude {
  border-bottom: 1px solid black;
  text-align: center;
}
.list tr td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
.load {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  border-top-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  animation: hinhtron 6s infinite linear;
}
@keyframes hinhtron {
  to {
    transform: rotate(360deg);
  }
}
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.mot,
.hai,
.ba,
.bon,
.nam,
.sau {
  position: relative;
  background-color: purple;
  animation-name: mott, move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.mot:hover {
  width: 400px;
}
@keyframes mott {
  from {
    background-color: blue;
  }
  to {
    background-color: red;
  }
}
@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 30px;
  }
}
nav {
  display: flex;
  background-color: #ffffff;
  flex: auto;
  padding: 1px;
}
nav a {
  color: rgb(255, 255, 255);
  padding: 14px 100px;
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: rgb(0, 255, 119);
  color: black;
  padding: 20px 100px;
}
